#eightball {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.black {
    background-color: black;
}

.green {
    background-color: green;
}

.goldenrod {
    background-color: goldenrod;
}

.red {
    background-color: red;
}

.whiteText {
    color: white;
    text-align: center;
    padding-top: 75px;
}